<header class='title'>
  <h1 data-bind='character.character_name | capitalize'></h1>
  <h2>
    "
    <span data-bind='character.character_caption'></span>
    "
  </h2>
</header>
<form data-bind-data-rivalry_character_id='character.id' data-event-submit='controllers.characters.vote'>
  <button class='punch' type='submit'>
    VOTE
  </button>
</form>
<img data-bind-src='character.character_image_url' />
<div class='ytholder'>
  <div class='ytapiplayer' data-bind-data-youtube_url='character.youtube_url' data-bind-id="'ytapiplayer' | suffix character.id" data-mixin='youtube'></div>
</div>
<header class='twitter'>
  <div class='left'>
    <span>Twitter:</span>
    <span data-bind='character.character_twitter_tags'></span>
  </div>
  <div class='right'>
    <span>Followers:</span>
    <span data-bind='character.twitter_followers_count'></span>
  </div>
</header>
<ul>
  <li data-foreach-tweet='character.tweets'>
    <div class='tweet'>
      <img data-bind-src='tweet.user.profile_image_url' />
      <div class='tweet_text' data-bind='tweet.text | autolink'></div>
    </div>
    <div class='tweet_date' data-bind='tweet.created_at | prettyDate'></div>
  </li>
</ul>
