%ul
  %li{data: {:"foreach-character" => "characters"}}
    %a{data: {bind: "character.character_name", route: "character"}} name will go here
    %span :
    %span{data: {bind: "character.character_caption"}}
  %li
    %span{data: {bind: "characters.length"}}
    %span{data: {bind: "'character' | pluralize 'character', characters.length"}}