%ul#characters
  %li{data: {:"foreach-character" => "Character.all", mixin: "animation"}}
    %a{data: {route: "character", bind: "character.name"}} name will go here
  %li
    %span{data: {bind: "characters.length"}}
    %span{data: {bind: "'character' | pluralize products.length"}}