%ul#characters
  %li{data: {:"foreach-character" => "Character.all", mixin: "animation"}}
    %a{data: {route: "character", bind: "character.name"}} name will go here
  %li
    %span{data: {bind: "characters.length"}}
    %span{data: {bind: "'character' | pluralize products.length"}}

-#<ul id="products">
-#  <li data-foreach-product="Product.all" data-mixin="animation">
-#    <a data-route="product" data-bind="product.name">name will go here</a>
-#  </li>
-#
-#  <li><span data-bind="products.length"></span> <span data-bind="'product' | pluralize products.length"></span></li>
-#</ul>