body.rivalries.show {
  font-family: nimbus-sans;
  section.entry {
    @include float-left;
  }

  .versus {
    @include float-left;
    height: 200px;
    margin: 10px;
  }

  section.rivalry_character {
    @include clearfix;
    width: 400px;

    img {
      display: block;
    }

    .punch {
      @include punch;
      display: block;
      margin-top: 54px;
      text-decoration: none;
    }
  }
}
