body.rivalries.show {
  font-family: nimbus-sans;
  section.entry {
    @include float-left;
  }

  .versus {
    @include float-left;
    height: 200px;
    margin: 10px;
  }

  section.character_info {
    @include clearfix;
    width: 400px;

    img {
      display: block;
    }
  }
}
