body.rivalries.show {
  font-family: nimbus-sans;
  section.entry {
    @include float-left;
  }

  .versus {
    @include float-left;
    height: 200px;
    margin: 10px;
  }

  section.rivalry_character {
    @include clearfix;
    width: 400px;

    &.voted {
      background: #b0c4de;
    }

    img {
      display: block;
    }

    .punch {
      @include punch;
      display: block;
      margin-top: 54px;
      text-decoration: none;

      &.disabled {
        @include box-shadow(inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111);
        margin-top: 58px;
      }
    }
  }
}
