%section
  %h1 Rivalry Details
  - @rivalry.rivalry_characters.ordered.each_with_index do |rivalry_character, index|
    %section.entry
      = render "characters/character", rivalry_character: rivalry_character, vote: @vote
      %h3 Votes:
      %span #{rivalry_character.votes_count}
    - if index < @rivalry.rivalry_characters.length - 1
      .versus
        VS

= render "templates/twitter_list"
